body {
  background-color: #fff;
}

/* HEADER */

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px;
}

.header__menu {
  grid-column: 1;
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 29px;
}

.header__links-list-item {
  list-style-type: circle;
  padding-left: 2px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link,
.footer__menu-link {
  display: block;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link-active,
.footer__menu-link-active {
  text-decoration: none;
  border-bottom: none;
}

.header__logo {
  grid-column: 2;
  justify-self: center;
  display: block;
  text-decoration: none;
  min-width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  grid-column: 3;
  justify-self: end;
}

/* COVER */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/cover.jpg) no-repeat center;
  background-size: cover;
  min-height: 757px;
  z-index: 1;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: -1;
}

.cover-title {
  padding: 165px 50px 53px;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin: 18px 0;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.description * {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.cover__description-text {
  line-height: 1.27;
  font-weight: 400;
  word-spacing: 17px;
  letter-spacing: 0.3px;
}

.bet-button {
  font-weight: 500;
  background-color: transparent;
  padding: 11px 32px;
  border: 1px solid #fff;
  margin-left: 0;
}

/* LOTS */

.lots {
  max-width: 1052px;
  margin: 180px auto 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
}

.lots__card-list-item {
  display: block;
  flex: 1 0 334px;
  list-style-type: none;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card-link,
.card {
  min-width: 100%;
  min-height: 100%;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center;
}

.card {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  z-index: 1;
}

.card__title,
.card__text {
  z-index: 3;
  color: #fff;
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0 0 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* ABOUT */

.about {
  max-width: 1052px;
  margin: 0 auto;
  padding-bottom: 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 1fr auto;
  gap: 25px;
}

.about__logo {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  display: flex;
  background-color: #000;
  min-width: 240px;
  min-height: 240px;
  border-radius: 50%;
  margin-top: 35px;
}

.about__logo-image {
  display: block;
  margin: auto;
  max-width: 148px;
  max-height: 114px;
}

.about__title {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin-top: 44px;
}

.about__text {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: -17px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__menu {
  grid-column: 2;
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__social-list {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-link {
  display: block;
  max-width: 48px;
}
